@{
    Layout = null;
}
@model List<Footwear.Models.Menu>

<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            @foreach (var item in Model)
            {
                <li @(item.MenuItem.Count > 0 ? "calss = 'grid'" : "")>
                    <a class="color2" href="#">@item.Name</a>
                    @if (item.MenuItem.Count > 0)
                    {
                        <div class="megapanel">
                            <div class="row">
                                @foreach (var subitem in item.MenuItem)
                                {
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>@subitem.Name</h4>

                                            @if (subitem.MenuItem.Count > 0)
                                            {
                                                <ul>
                                                    @foreach (var thirdMenuItem in subitem.MenuItem)
                                                    {
                                                        <li><a href="@thirdMenuItem.Url">@thirdMenuItem.Name</a></li>
                                                    }
                                                </ul>
                                            }

                                        </div>
                                    </div>
                                }
                                <img src="@item.ImgUrl" alt="" />
                            </div>
                        </div>
                    }
                </li>
            }
        </ul>
        <div class="clear"></div>
    </div>
</div>