@model Footwear.Models.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="index-banner">
    <div class="wmuSlider example1" style="height: 560px;">
        <div class="wmuSliderWrapper">
            <article style="position: relative; width: 100%; opacity: 1;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="~/Content/images/banner1.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Classic</h1>
                        <h2>White</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="btn"><a href="/Home/Shop">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="~/Content/images/banner2.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Classic</h1>
                        <h2>White</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="btn"><a href="/Home/Shop">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="~/Content/images/banner1.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Classic</h1>
                        <h2>White</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="btn"><a href="/Home/Shop">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="~/Content/images/banner2.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Classic</h1>
                        <h2>White</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="btn"><a href="/Home/Shop">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="~/Content/images/banner1.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Classic</h1>
                        <h2>White</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="btn"><a href="/Home/Shop">Shop Now</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </div>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="wmuActive">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ul>
    </div>
</div>

<div class="main">
    <div class="wrap">

        <div class="content-top">
            <div class="lsidebar span_1_of_c1">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
            </div>
            <div class="cont span_2_of_c1">
                <div class="social">
                    <ul>
                        <li class="facebook"><a href="#"><span> </span></a><div class="radius"> <img src="~/Content/images/radius.png"><a href="#"> </a></div><div class="border hide"><p class="num">1.51K</p></div></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li class="twitter"><a href="#"><span> </span></a><div class="radius"> <img src="~/Content/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li class="google"><a href="#"><span> </span></a><div class="radius"> <img src="~/Content/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li class="dot"><a href="#"><span> </span></a><div class="radius"> <img src="~/Content/images/radius.png"></div><div class="border hide"><p class="num">1.51K</p></div></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content-bottom">
            <div class="box1">
                @Html.Partial("_DashboardItem", Model.DashboardItems[0])
                @Html.Partial("_DashboardItem", Model.DashboardItems[1])
                @Html.Partial("_DashboardItem", Model.DashboardItems[2])
                <div class="clear"></div>
            </div>
            <div class="box1">
                @Html.Partial("_DashboardItem", Model.DashboardItems[3])
                @Html.Partial("_DashboardItem", Model.DashboardItems[4])
                @Html.Partial("_DashboardItem", Model.DashboardItems[5])
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/index")