@model Footwear.Models.ProductViewModel

@Styles.Render("~/Content/form")
@Styles.Render("~/Content/etalage")

<div class="single">
    <div class="wrap">

        @Html.Partial("Sidebar")

        <div class="cont span_2_of_3">
            <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                <ul id="etalage">
                    @for (int i = 0; i < 5; i++)
                    {
                        <li>
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="@Model.ImageUrl" />
                                <img class="etalage_source_image" src="@Model.ImageUrl" />
                            </a>
                        </li>
                    }
                </ul>
                <!-- end product_slider -->
            </div>
            <div class="cont1 span_2_of_a1">
                <h3 class="m_3">@Model.Heading</h3>

                <div class="price_single">
                    <span class="reducedfrom">$66.00</span>
                    <span class="actual">@Model.Amount</span><a href="#">click for offer</a>
                </div>
                <ul class="options">
                    <h4 class="m_9">Select a Size</h4>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="btn_form">
                    <form>
                        <input type="submit" value="buy now" title="">
                    </form>
                </div>
                <ul class="add-to-links">
                    <li><img src="~/Content/images/wish.png" alt="" /><a href="#">Add to wishlist</a></li>
                </ul>
                <p class="m_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                <div class="social_single">
                    <ul>
                        <li class="fb"><a href="#"><span> </span></a></li>
                        <li class="tw"><a href="#"><span> </span></a></li>
                        <li class="g_plus"><a href="#"><span> </span></a></li>
                        <li class="rss"><a href="#"><span> </span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>

            @Html.Partial("_SimilarProducts")
            <div class="toogle">
                <h3 class="m_3">Product Details</h3>
                <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
            </div>
            <div class="toogle">
                <h3 class="m_3">Product Reviews</h3>
                <p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

@Scripts.Render("~/bundles/jscrollpane")
@Scripts.Render("~/bundles/etalage")
@Scripts.Render("~/bundles/flexisel")
@Scripts.Render("~/bundles/single")
